<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RLPLST</title>
    <link rel="stylesheet" type="text/css" href="..\static\rlBettingStyle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>


      <!-- head -->


    <div class="head">
      <h1>Rocket League Pro League Stat Tracker</h1>
    </div>


    <!-- tabs -->


    <div class="bodycontainer">
      <div class="tabs">
        <button class="tablink" onclick="openTab('home')">Home</button>
        <button class="tablink" onclick="openTab('visualizations')">Stat Visualization</button>
        <button class="tablink" onclick="openTab('predictions')">Betting Line Prediction</button>
      </div>


      <!-- Home -->


      <div id="home" class="tabcontent">
        <div class="maincontainer">
          <div class="title">
              <h1>Welcome to the Rocket League Pro League Stat Tracker</h1>
          </div>
          <div class="desc">
            <p>This website provides interactive visualizations and statistical analysis of professional Rocket League results. Please select a tab to get started.</p>
          </div>
          <div class="subtitle">
            <h2>Latest Rocket League Matches</h2>
          </div>
          <table id="latest-matches" class="latest">
            <tr>
              <th>Date</th>
              <th>Teams</th>
              <th>Result</th>
              <th>Player Scores</th>
              <th>MVP</th>
            </tr>
          </table>
        </div>
      </div>


      <!-- Data Vis -->


      <div id="visualizations" class="tabcontent" style="display: none">
        <!-- <div class = "searchbar">
          <input type="text" placeholder="Player Tag">
          <button type="submit">Search</button>
        </div> -->
        <div class="maincontainer">
          <div class="container">
            <div class="title" id="visTitle">
              <h1>Player and Team Stats Visualization Page</h1>
            </div>
            <div class="desc" id="visDesc">
              <p>Select "Player" to see a player's individual stats in the last 10 events and select "Team" to see a team's stats.</p>
            </div>
            <div class="subtitle" id="visLoad" style="display: none;">
              <h2>Loading stats may take a moment.</h2>
            </div>
          </div>
          <div class="container">
              <button id="statsBtn" class="bigbutton">Player</button>
              <button id="compareBtn" class="bigbutton">Team</button>
          </div>
          <div class="container" id = "returnBtn" style="display: none;">
            <button id="return" class="bigbutton">Return to Search</button>
          </div>
          <div class="container" id="playerSearch" style="display: none;">
              <div class="searchbar">
                  <select id="player_tags" class="select">
                      <option selected>Select gamertag</option>
                  </select>
                  <button id="visualizeBtn" type="submit">Visualize</button>
              </div>
          </div>
          <div class="container" id="teamSearch" style="display: none;">
              <div class="searchbar">
                  <select id="team1" class="select">
                      <option selected>Select team</option>
                  </select>
                  <button id="compareVisualizeBtn" type="submit">Visualize</button>
              </div>
              
          </div>
          <div class="container" id="charts" style="display: none;">
              <div class="col text-center">
                  <img id="chartImage" src="" alt="Player Stats Charts">
              </div>
          </div>
        </div>
      </div>


      <!-- Betting Prediction -->


      <div id="predictions" class="tabcontent" style="display: none;">
        <div class="maincontainer">
          <div class="container">
            <div class="title" id="predTitle">
              <h1>Betting Line Predictor</h1>
            </div>
            <div class="desc" id="predDesc">
              <p>See how likely your favorite player is to get however many of a specified stat.</p>
            </div>
            <div class="subtitle" id="predLoad" style="display: none;">
              <h2>Loading predictions may take a moment.</h2>
            </div>
          </div>
          <div class="container">
            <div class = "searchbar">
              <input id="playerTag" type="text" class="form-control" placeholder="Player Tag">
              <input id="line" type="text" placeholder="Line">
              <select id="stat" name="stat" >
                <option value="" selected disabled hidden>Stats</option>
                <option value="goals">Goals</option>
                <option value="assists">Assists</option>
                <option value="saves">Saves</option>
                <option value="demos">Demos</option>
              </select>
              <button id = "search" type="submit">Search</button>
            </div>
          </div>
          <div class="container">
            <div id="probability" class="probability"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->


    <script>
      function showPlayers() {
        //console.log("showPlayers -> matched names in select");
        const input = document.getElementById('playerName').value.toLowerCase();
        const options = document.querySelectorAll('#player_tags option');
        for (let i = 0; i < player_tags.length; i++) {
          const text = player_tags[i].text.toLowerCase();
          if (text.includes(input)) {
            options[i].style.display = ''; 
            console.log("Option added: " + text);
          } 
          else {
            options[i].style.display = 'none';
            console.log("Option rm: " + text);
          }
        }
      };
      function setInputTag() {
        //console.log("setInputTag activated");
        const playerTagsSelect = document.querySelector('#player_tags');
        playerTagsSelect.addEventListener('change', f);
        //console.log(playerTagsSelect);
      };

      function f() {
        // code to execute when an option is selected
        console.log(document.getElementById("player_tags").value);
        var selectName = document.getElementById("player_tags").value;
        document.getElementById("playerName").value = selectName;
        console.log('Option selected: ' + selectName);
      };

      $(document).ready(function () {
          $("#statsBtn").click(function () {
              $("#teamSearch").hide();
              $("#playerSearch").show();
              $.getJSON('/players', function (data) {
              const player_tags = data.player_tags;
              const options = document.querySelectorAll('#player_tags option');
              var isFound = false;
              //console.log(player_tags);
              for (let i = 0; i < player_tags.length; i++) {
                //console.log(player_tags[i]);
                for (let j = 0; j < options.length; j++) { // name already in list, break for loop
                  if ( player_tags[i] == options[j].value ) {
                    isFound = true;
                    break; 
                  } 
                }
                if (isFound)  // should continue to next itr in main for loop. used to skip duplicate after vizButton
                {
                  isFound = false;
                  continue;
                }
                $("#player_tags").append(`<option value="${player_tags[i]}">${player_tags[i]}</option>`); // #player_tags
              }
              });
          });;

          $("#compareBtn").click(function () {
              $("#playerSearch").hide();
              $("#teamSearch").show();
              $.getJSON('/teams', function (data) {
                  const team_names = data.team_names;
                  for (let i = 0; i < team_names.length; i++) {
                      $("#team1, #team2").append(`<option value="${team_names[i]}">${team_names[i]}</option>`);
                  }
              });
          });

          $('#search').on('click', function () {
            const playerTag = $('#playerTag').val();
            const line = $('#line').val();
            const stat = $('#stat').val();

            $.post("/predict", { playerTag, line, stat }, function (data) {
            $("#probability").text("The probability is: " + data.probability);
            });
          });

          $("#returnBtn").click(function () {
              $("#statsBtn").show();
              $("#compareBtn").show();
              $("#charts").hide();
              $("#returnBtn").hide();
              $("#visTitle").show();
              $("#visDesc").show();
              $("#visLoad").hide();
          });

          $("#visualizeBtn").click(function () {
              let playerName = $("#player_tags").val();
              if (playerName != "Select gamertag") {
                  $("#playerSearch").hide();
                  $("#statsBtn").hide();
                  $("#compareBtn").hide();
                  $("#returnBtn").show();
                  $("#visTitle").hide();
                  $("#visDesc").hide();
                  $("#visLoad").show();
                  $.post('/fetch_player_data_route', { player_name: playerName }, function (data) {
                      $("#charts").show();
                      $("#chartImage").attr("src", "data:image/png;base64," + data.image_data);
                  });
              } else {
                  alert("Please enter a player name.");
              }
          });

          $("#compareVisualizeBtn").click(function () {
              let team1 = $("#team1").val();
              let team2 = $("#team2").val();
              if (team1 != "Select team 1" && team2 != "Select team 2") {
                  $("#playerSearch").hide();
                  $("#statsBtn").hide();
                  $("#compareBtn").hide();
                  $("#returnBtn").show();
                  $("#visTitle").hide();
                  $("#teamSearch").hide();
                  $("#visDesc").hide();
                  $("#visLoad").show();
                  $.post('/fetch_team_data_route', { team1: team1, team2: team2 }, function (data) {
                      $("#charts").show();
                      $("#chartImage").attr("src", "data:image/png;base64," + data.image_data);
                  });
              } else {
                  alert("Please select a team");
              }
          });
      });
    </script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="..\static\visualization.js"></script>
    <script src="..\static\tabs.js"></script>
  </body>
</html>